h3{
    color: white;
    font-size: small;
}
input{
    border-radius: 20px, 20px 20px 20px;
    padding-right: 10%;
}
button{
    color: white;
   background-color: rgb(11, 178, 255); 
}
h3 {
     margin-left: 10%;
  text-align: left;
}


form{
    
      text-align: left;
}
button{
       box-decoration-break: none;
        border-radius: 5px;
        padding: 2%;
        margin-left: 10%;
        padding-left: 35%;
        padding-right: 35%;
}
input{
    border-radius: 5px;
    padding: 2%;
    padding-right: 50%;
    margin-left: 10%;
}
input, button {
  border: none;
  outline: none;
}
textarea{
    padding: 2%;
    margin-left: 10%;
    padding-right: 50%;
    border-radius: 5px;
}